
  <div class="custom-dropdown">
    <div class="custom-dropdown-trigger" (click)="toggleDropdown()">
      <span>{{ displaySelectedCategories() || 'Select Categories' }}</span>
      <mat-icon class="dropdown-arrow">{{ dropdownOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
    </div>
    <div class="custom-dropdown-panel" *ngIf="dropdownOpen">
      <div class="category-tree-container">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <ng-container *ngIf="node.item">
              <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
                (change)="todoLeafItemSelectionToggle(node)">
                {{ node.item }}
              </mat-checkbox>
            </ng-container>
          </mat-tree-node>
  
          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
              <mat-icon class="mat-icon-rtl-mirror">
                {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
              </mat-icon>
            </button>
            <ng-container *ngIf="node.item">
              <mat-checkbox [checked]="descendantsAllSelected(node)"
                [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
                {{ node.item }}
              </mat-checkbox>
            </ng-container>
          </mat-tree-node>
        </mat-tree>
      </div>
    </div>
  </div>
  